<%# <% @buddies.each do |user| %>
  <%# <%= user.email %>
  <%# <%= link_to "buddy", buddy_path(user)%>
<%# <% end %>

<div>
<h1 class= "buddy_h1">MES GYMATES</h1>
</div>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">

      <%= form_with url: buddies_lists_path, method: :get do |form| %>
        <div class="input-group">
          <%= form.text_field :query, placeholder: "Looking for a buddy...", class: "form-control" %>
          <div class="input-group-append">
            <%= form.button type: "submit", class: "btn" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </form>

<div class= "buddies-favorite" style="text-align: center;">
  <div class="pref">
    <h1 class= "buddy_h1">Mes préférés</h1>
    <% @favorite_buddies.each do |buddy| %>
      <%= link_to buddy_path(buddy) do %>
        <% image_tag(buddy.profilepic, class: "avatar") %>
      <% end %>
    <% end %>
  </div>

  <div class="cardy">
   <h1 class="buddy_h1"><strong>Tout</strong></h1>
    <% @buddies_lists.each do |buddies_list| %>
      <%= link_to buddy_path(buddies_list) do %>
        <% image_tag(buddies_list.buddy.profilepic, class: "avatar") %>
      <% end %>
    <% end %>
  </div>

  <%# <div class= "buddies-by-sport">
    <h1 class= "buddy_h1"> Sorted by sport</h1>
    <%# <% @buddies_by_sport.each do |buddy| %>
      <%# <%= link_to buddy_path(buddy) do %>
        <%# <% image_tag(buddy.profilepic, class: "avatar") %>
      <%# <% end %>
    <%# <% end %>
  <%# </div> %>

<h1 class= "buddy_h1"> Triés par sport</h1>


<div class="cardou" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("yoga.jpg")%>');">
  <p>Yoga</p>
</div>
<div class="card-pro">
 <div class= "buddies-by-sport">
    <% @buddies_lists.each do |buddies_list| %>
      <%= link_to buddy_path(buddies_list) do %>
        <% image_tag(buddies_list.buddy.profilepic, class: "avatar_2") %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="cardou" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("boxe.jpg")%>');">
  <p>Boxe</p>
</div>
<div class="card-pro">
  <div class= "buddies-by-sport">
    <% @buddies_lists.each do |buddies_list| %>
      <%= link_to buddy_path(buddies_list) do %>
        <% image_tag(buddies_list.buddy.profilepic, class: "avatar_2") %>
      <% end %>
    <% end %>
    </div>
  </div>


<div class="cardou" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("crossfit.jpg")%>');">
  <p>Crossfit</p>
</div>
  <div class="card-pro">
        <% @buddies_lists.each do |buddies_list| %>
          <%= link_to buddy_path(buddies_list) do %>
            <% image_tag(buddies_list.buddy.profilepic, class: "avatar_2") %>
          <% end %>
      <% end %>
  </div>

<div>
 <a class="btn btn-voir" href="#">Voir plus</a>
</div>
</div>
