<%# <% @buddies.each do |user| %>
  <%# <%= user.email %>
  <%# <%= link_to "buddy", buddy_path(user)%>
<%# <% end %>

<div>
  <h1 class= "buddy_h1"> MES GYMATES</h1>
</div>

  <div class="search-bar">
    <%= form_with url: buddies_lists_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>

<div class= "buddies-favorite" style="text-align: center;">
  <div>
    <h1 class= "buddy_h1">MES FAVORIS</h1>
    <% @favorite_buddies.each do |buddies_list| %>
      <%= link_to buddy_path(buddies_list) do %>
        <% image_tag(buddies_list.buddy.profilepic, class: "avatar") %>
      <% end %>
    <% end %>
  </div>

 <h1 class="buddy_h1"><strong>TOUS</strong></h1>
  <div class="cardy">
    <% @buddies_lists.each do |buddies_list| %>
      <%= link_to buddies_list_path(buddies_list) do %>
        <% image_tag(buddies_list.buddy.profilepic, class: "avatar") %>
      <% end %>
    <% end %>
  </div>

  <%# <div class= "buddies-by-sport">
    <h1 class= "buddy_h1"> Sorted by sport</h1>
    <%# <% @buddies_by_sport.each do |buddy| %>
      <%# <%= link_to buddy_path(buddy) do %>
        <%# <% image_tag(buddy.profilepic, class: "avatar") %>
      <%# <% end %>
    <%# <% end %>
  <%# </div> %>

<h1 class= "buddy_h1"> Par sport</h1>


<div class="cardou" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("yoga.jpg")%>');">
  <p>Yoga</p>
</div>

<div class="card-pro">
 <div class= "buddies-by-sport">
    <% @buddies_lists.last(4).each do |buddies_list| %>
      <%= link_to buddies_list_path(buddies_list) do %>
        <% image_tag(buddies_list.buddy.profilepic, class: "avatar_2") %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="cardou" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("boxe.jpg")%>');">
  <p>Boxe</p>
</div>

<div class="card-pro">
  <div class= "buddies-by-sport">
    <% @buddies_lists.last(4).each do |buddies_list| %>
      <%= link_to buddies_list_path(buddies_list) do %>
        <% image_tag(buddies_list.buddy.profilepic, class: "avatar_2") %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="cardou" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("crossfit.jpg")%>');">
  <p>Crossfit</p>
</div>
  <div class="card-pro">
        <% @buddies_lists.last(4).each do |buddies_list| %>
          <%= link_to buddies_list_path(buddies_list) do %>
            <% image_tag(buddies_list.buddy.profilepic, class: "avatar_2") %>
          <% end %>
      <% end %>
  </div>

  <div class="cardou" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("jump.jpg")%>');">
  <p>Jump</p>
</div>
  <div class="card-pro">
        <% @buddies_lists.last(4).each do |buddies_list| %>
          <%= link_to buddy_path(buddies_list) do %>
            <% image_tag(buddies_list.buddy.profilepic, class: "avatar_2") %>
          <% end %>
      <% end %>
  </div>

  <div class="cardou" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("cardio.jpg")%>');">
  <p>Cardio</p>
</div>
  <div class="card-pro">
        <% @buddies_lists.last(4).each do |buddies_list| %>
          <%= link_to buddy_path(buddies_list) do %>
            <% image_tag(buddies_list.buddy.profilepic, class: "avatar_2") %>
          <% end %>
      <% end %>
  </div>

<div>
 <%= link_to "Découvrir les évènements", root_path, class: "btn btn-voir"%>
</div>
</div>
