<div style="height: 30px;"></div>
<div class="buddy-card">
  <%= image_tag(@buddies_list.buddy.profilepic, class: "avatar5") %>
  <div class="buddy-infos">
    <h2 class= "buddy-name"><strong><%= @buddies_list.buddy.first_name %></strong></h2>
    <p class="buddy-location"> <%= @buddies_list.buddy.location %></p>
    <% if @buddies_list.chatroom %>
      <%= link_to "Continuer une discussion", buddies_list_chatroom_path(@buddies_list, @buddies_list.chatroom.id), class: "btn_discussion"  %>
    <% else %>
      <%= link_to "Commencer une discussion", buddies_list_chatrooms_path(@buddies_list), data: {turbo_method: :post}, class: "btn_discussion" %>
    <% end %>
  </div>

  <div class="favorite" data-controller="favorite">
    <% if @buddies_list.confirmed == true %>
      <%= button_to buddies_list_path(@buddies_list), params: { status: "like" }, method: :patch, class: 'btn btn-accept d-none', id: "like" do %>
        <i class="fa-regular fa-heart like fa-2xl" data-action="click->favorite#like" ></i>
      <% end %>
      <%= button_to buddies_list_path(@buddies_list), params: { status: "dislike" }, method: :patch, class: 'btn btn-accept', id: "dislike" do %>
        <i class="fa-solid fa-heart dislike fa-2xl" data-action="click->favorite#dislike"></i>
      <% end %>
    <% elsif @buddies_list.confirmed == false || @buddies_list.confirmed.nil? %>
      <%= button_to buddies_list_path(@buddies_list), params: { status: "like" }, method: :patch, class: 'btn btn-accept', id: "like" do %>
        <i class="fa-regular fa-heart like fa-2xl" data-action="click->favorite#like" ></i>
      <% end %>
      <%= button_to buddies_list_path(@buddies_list), params: { status: "dislike" }, method: :patch, class: 'btn btn-accept d-none', id: "dislike" do %>
        <i class="fa-solid fa-heart dislike fa-2xl" data-action="click->favorite#dislike"></i>
      <% end %>
    <% end %>
  </div>
</div>


<div class="buddy-bio">
  <h1 class="bio">La description de : <strong> <%= @buddies_list.buddy.first_name %></strong></h1>
  <p class="bio"> "<%= @buddies_list.buddy.description %>"</p>
</div>

<div class="rev">
  <label class="label" for="user"><strong>Les sports pratiqués par : <%= @buddies_list.buddy.first_name %></strong></label>
  <div class="d-flex">
    <% @buddies_list.buddy.sports.each do |sport| %>
      <div class="purple-badge"><%= sport.name %></div>
    <% end %>
  </div>
</div>

<%# <div class="tag-item">
<%= simple_form_for(@sport) do |f| %>
    <%# <%= f.input :sport, class: "tag-selector", type: checkbox %>
    <%# <%= f.label :sport.name %>
<%# <% end %>
<%# </div> %>

<div class=avisbud>
  <div class="reviews">
    <%# <h3 style="text-align-last: center;"> Avis :</h3> %>
    <h3 class= "avis_buddies"> Avis </h3>
    <% if @buddies_list.reviews.empty? %>
      <small><em class="text-muted">Soyez le premier à laisser un commentaire!</em></small>
    <% end %>
    <% @buddies_list.reviews.each do |review|  %>
      <% review.rating.times do %>
        <i class="fas fa-star star-yellow"></i>
      <% end %>
      <p>
        <i class="fa-solid fa-quote-left"> </i> <%= review.comment %> <i class="fa-solid fa-circle", style="font-size: 5px; color: grey"></i> <em>par <%= review.user.first_name %>
        <i class="fa-solid fa-circle", style="font-size: 5px; color: grey"></i> <small><em><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em>
      </p>
      <%= link_to review_path(review), class: 'trash', data: {turbo_method: :delete, turbo_confirm: "Êtes vous sûr?" } do%>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    <% end %>
  </div>


  <div class="container new">
    <div class="container form">
      <%= simple_form_for [@buddies_list, @review], data: {turbo: "false"} do |f| %>
        <%= f.input :comment, label: "Ajouter un commentaire" %>
        <%= f.input :rating, label:"Ajouter une note", as: :select, collection: (1..5), required: true, promt: "Notez votre experience", input_html: {data: { controller: "star-rating"} }  %>
        <%= f.submit 'Commentez', class:'btn-inscription'%>
      <% end %>
    </div>
  </div>
</div>

<div class="container_home">
  <h2 class="home_2">Les événements à venir : </h2>
  <% if @events.empty? %>
    <p>Vous n'êtes inscrit à aucun événement</p>
  <% else %>
    <% @events.each do |event| %>
      <div class="salut">
        <div class = "event_card_home"  style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url (event.sport.image) %>'); background-size: 100%; background-position: center;">
          <div style="padding: 4vmin;"><%= event.title %>
            <br><%= event.location %>
            <br><%= event.event_date %>
            <br><%= event.sport.name%>
          </div>
          <div style="text-align: center;">
            <%= link_to "Découvrir l'événement", event_path(event), class: "btn_inscription"%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>
  <div class ="btn btn-voirevents" >  <%= link_to "Voir tous les évènements", root_path %>
</div>



<%# <link rel= "stylesheet" href="assets/stylesheets/components/_showbuddies.scss" /> %>
<%# <div class= "heart"></div> %>
<%# <div class= "animation-heart"></div> %>
<%# <script src="javascript/controllers/heart.js"></script> %>
