<div class="footer footer-lewagon">
  <div class="footer-links footer-lewagon footer-collapse">
    <%= link_to "", root_path, class: "fa-solid fa-house", style: "color: white" %>
    <%= link_to "", new_event_path, class: "fa-regular fa-calendar", style: "color: white" %>
    <%= link_to "", buddies_lists_path, class: "fa-solid fa-user-group", style: "color: white" %>
    <%= link_to "", chatrooms_path, class: "fa-solid fa-message", style: "color: white" %>
    <%= link_to "", dashboard_path, class: "fa-solid fa-user", style: "color: white"%>
  <div class="footer-copyright">
</div>
