<h1 class="h1_event"> <strong> <%= @event.title %> </strong></h1>

<div class="container">
  <div class="cards">
    <div class = "card-category">
        <p>Événement :<%= @event.title %></p>
        <p>Objectif :<%= @event.description %></p>
        <p>Se déroule :<%= @event.location %></p>
        <p>Commence le :<%= @event.event_date.strftime("%d/%m/%Y") %></p>
        <p>à :<%= @event.starting_hour.strftime("%R") %></p>
        <p>et finit à :<%= @event.ending_hour.strftime("%R") %></p>
        <p>Sport pratiqué :<%= @event.sport.name %></p>
    </div>
        <%= link_to "Retour à la liste des événement", root_path %>
  </div>
</div>
<p></p>

<%# ('X%d/X%m/%Y') %>
