<h1>Discover the event : <strong> <%= @event.title %> </strong></h1>

<div class="cards">
    <% @event.bookings.each do |booking| %>
      <div class = "card-category">
          <%= booking.event.title %>
          <%= booking.event.description %>
          <%= booking.event.location %>
          <%= booking.event.event_date %>
          <%= booking.event.starting_hour %>
          <%= booking.event.ending_hour %>
          <%= booking.event.sport %>
          <%= link_to "Delete", dashboard_path(@dashboard), class: "btn delete", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    <% end %>
  </div>
