<div style="height: 30px;"></div>
<div>
  <h1 style="font-weight: bold;text-align: center; padding: 4vmin;">Mon journal de bord</h1>
</div>

<h2 class="titredash" style="font-weight: bold;text-align: center; padding: 4vmin;">Mes infos</h2>
<div class="edit-link">
<%= link_to edit_user_registration_path, class: "edit_btn" do %> Modifier <i class="fas fa-pencil-alt"></i>
<% end %>
</div>

<div class= "card_info_user">
  <div>
    <%= image_tag current_user.profilepic, class: "avatar"%>
  </div>
  <div class= "profileinfos">
    <p> <strong><%= current_user.first_name%> <%= current_user.last_name%></strong></p>
    <p> <%= current_user.location%></p>
    <p> <%= current_user.description%></p>
  </div>
</div>

<h2 style="font-weight: bold;text-align: center; padding: 4vmin;">Mes évènements</h2>
<div class="card_booking">
  <% current_user.events.each do |event| %>
   <div class = "event_card_home"  style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url event.sport.image %>'); background-size: 100%; background-position: center;">

            <div style="padding: 4vmin;"><%= event.title %>
            <br><%= event.location %>
            <br><%= event.event_date %>
            <br><%= event.sport.name%></div>
      <%= link_to "Supprimer cet événement", booking_path(current_user.bookings.where(event:event).first), class: "btn btn-flat", data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sur de vouloir supprimer cet événement?" }  %>
        </div>
  <% end %>
</div>
