<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url ("banner.png")%>');">
  <div class="container2">
    <h1 class="bienvenue">Bienvenue sur GYMATE <strong><%= @user.first_name %></strong> !</h1>
    <p>L'application qui te trouve un partenaire de sport !</p>
  </div>
</div>

<div class="container_home">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Tapez votre recherche"
        %>
        <%= submit_tag "Rechercher", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


<div class="favourite_budy">
  <h2 class="home_h2"> Mes GYMATES </h2>
         <% if @favorite_buddies.empty? %>
        Vous n'avez pas encore de buddy favoris !
      <% else %>
        <% @favorite_buddies.each do |buddies_list| %>
          <%= link_to buddies_list_path(buddies_list) do %>
            <% image_tag(buddies_list.buddy.profilepic, class: "avatar") %>
          <% end %>
        <% end %>
      <% end %>
</div>

<div class="container_home">
  <h2 class="home_h2">Les événements à venir...</h2>
</div>

<div class="calendar_cards">
  <% @events.each do |event| %>
    <% if event.users.include?(current_user) %>
      <div class = "event_card_home inscrit-card" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url event.sport.image %>'); background-size: 100%; background-position: center;">
        <div>
          <div style="font-weight: bold; font-size: 24px; color: white;">
            <%= event.title %>
          </div>
          <%= event.location %>
          <br><%= event.event_date.strftime("%d/%m/%Y") %>
          <br><%= event.sport.name%>
          <div style="text-align: center; padding: 3vmin;">
            <%= link_to "Déja inscrit !", event_path(event), class: "btn_inscription"%>
          </div>
        </div>
      </div>
    <% else %>
      <div class = "event_card_home" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url event.sport.image %>'); background-size: 100%; background-position: center;">
        <div>
          <div style="font-weight: bold; font-size: 24px; color: white;"><%= event.title %>
          </div>
          <%= event.location %>
          <br><%= event.event_date.strftime("%d/%m/%Y") %>
          <br><%= event.sport.name%>
          <div style="text-align: center; padding: 3vmin;">
            <%= link_to "Découvrir l'événement", event_path(event), class: "btn_inscription"%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<div style="text-align: center; padding: 3vmin;"> <%= link_to "Créer un événement", new_event_path, class: "btn_inscription"%></div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url ("ban.png")%>');">
 <div class="titre">Ils nous font confiance</div>


<div class="partnership">
  <br>
  <div class= "partenariat">
<img src="https://companieslogo.com/img/orig/BFIT.AS_BIG-bef51b6f.png?t=1664515365">
<img src="https://www.wellness-sportclub.fr/wp-content/uploads/2020/01/logo-site2.png" alt="wellness">
<img src="https://www.volvic-vvx.com/wp-content/uploads/2023/03/KEEPCOOL-LOGO-NOIR.png" alt="keepcool">
  </div>
<br>
</div>
  </div>
